<mat-nav-list>

    <h2 matSubheader> Hello <span></span> </h2>
    <a mat-list-item [routerLink]='["dash"]' (click)="onSidenavClose()">
        <mat-icon>home</mat-icon>
        <span>Dashboard</span>
    </a>
    <a mat-list-item [routerLink]='["payment"]' (click)="onSidenavClose()">
        <mat-icon>payment</mat-icon>
        <span>Payment</span>
    </a>
    <a mat-list-item routerLink="#" (click)="onSidenavClose()">
        <mat-icon>account_circle</mat-icon>
        <span>Account</span>
    </a>
    <mat-divider></mat-divider>


</mat-nav-list>