
<mat-sidenav-container  autosize>

  <mat-sidenav #sidenav mode="over" style="background-color: #343a40;" role="navigation">

    <mat-toolbar>
      <mat-toolbar-row>
        <h2> {{ 'APP_TOOLBAR_TITLE'  }} </h2>
      </mat-toolbar-row>
    </mat-toolbar>

    <app-sidenav-list (sidenavClose)="sidenav.close()"></app-sidenav-list>

  </mat-sidenav>

  <mat-sidenav-content>
<app-dashboard-header (sidenavToggle)="sidenav.toggle()" ></app-dashboard-header>
  <main>
    <router-outlet></router-outlet>
  </main>

  </mat-sidenav-content>

</mat-sidenav-container>


