<div class="grid-container">
  <h1 style="margin-left: 16px; margin-bottom: 0px;;" >Dashboard</h1>
 <div class="content" fxLayout="row wrap" fxLayoutGap="16px grid" >
  <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%" >
      <mat-card class="mat-elevation-z4 card1">
        <mat-card-header>
          <mat-card-title>Balance</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <h1 style="font-weight: bolder; ">₦ 0.00</h1>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button></button>
          <button mat-button></button>
        </mat-card-actions>
      </mat-card>
</div>

<div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%" >
  <mat-card class="mat-elevation-z4 card2">
    <mat-card-header>
      <mat-card-title>Balance</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <h1 style="font-weight: bolder; ">₦ 0.00</h1>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button></button>
      <button mat-button></button>
    </mat-card-actions>
  </mat-card>
</div>

<div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%" >
  <mat-card class="mat-elevation-z4 card3">
    <mat-card-header>
      <mat-card-title>Balance</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <h1 style="font-weight: bolder; ">₦ 0.00</h1>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button></button>
      <button mat-button></button>
    </mat-card-actions>
  </mat-card>
</div>

<div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%" >
  <mat-card   class="mat-elevation-z4 card4">
    <mat-card-header>
      <mat-card-title>Balance</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <h1 style=" font-weight: bolder; ">₦ 0.00</h1>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button></button>
      <button mat-button></button>
    </mat-card-actions>
  </mat-card>
</div>
</div>


  <div>
    <div class="content" fxLayout="row wrap" fxLayoutGap="16px grid" >
      <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
        <mat-card class="mat-elevation-z4 card5">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{'Title'}}
              <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item>Expand</button>
                <button mat-menu-item>Remove</button>
            </mat-menu>
            </mat-card-title>
          </mat-card-header>
          <mat-divider></mat-divider>
          <mat-card-content style="margin: 10px;">
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting.
            </p>
          </mat-card-content>
          <mat-card-actions>

          </mat-card-actions>
        </mat-card>
      </div>

  <div  fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
    <mat-card class="mat-elevation-z4 card6">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title >{{'Title'}}
          <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu" xPosition="before">
            <button mat-menu-item>Expand</button>
            <button mat-menu-item>Remove</button>
        </mat-menu>
        </mat-card-title>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content style="margin: 10px;">
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>

      </mat-card-actions>
    </mat-card>
  </div>
</div>
</div>
</div>

