.grid-container {
  margin: 10px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

.card1{
  background-color:#17a2b8;
}
.card2{
  background-color:#28a745;
}
.card3{
  background-color:#ffc107;
}
.card4{
  background-color: #dc3545;
}


.content {
  padding: 16px;
}

.content > mat-card {
  width: 200px;
}
